<h1>{{title}}</h1>

<a routerLink="lazy/demo">lazy load demo</a><br>

<!-- grouping routing -->
<!-- <a routerLink="senior/dashboard">senior dashboard</a><br>
<a routerLink="subadmin/dashboard">subadmin dashboard</a><br> -->


<!-- POST API method Adding new product -->
<!-- <form #newproductform="ngForm" (ngSubmit)="AddNewProduct(newproductform.value)">
  <input type="text" name="productName" id="" ngModel><br><br>
  <input type="text" name="category" ngModel><br><br>
  <input type="text" name="price" id="" ngModel><br><br>
  <button>submit</button>
</form> -->

<!-- routing -->
<a href="" routerLink="about">About</a>
<!-- data from services -->
<!-- <ul *ngFor="let i of users">
  <li>{{i.name}}: {{i.industry}}</li>  
</ul> -->
<router-outlet></router-outlet>
<app-footer></app-footer>

