<h1>Log In</h1>
<form  [formGroup]=loginform (ngSubmit)="login(loginform.value)">
    
    <div class="mb-3 col-lg-4">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email"  aria-describedby="emailHelp">
    </div>
    <div class="mb-3 col-lg-4">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1">
    </div>
    
    <button type="submit" class="btn btn-success">Login</button>
  </form>
