<app-header></app-header>
<h1 appRedElement>{{title}}</h1>
<!-- Reactive form -->
<form [formGroup]=loginForm action="" method="post" (ngSubmit)="login()" >
    <span class="headingRed" *ngIf="user && user.invalid && user.touched  "> username field is invalid</span><br>
    <input type="text" formControlName="username"  placeholder="enter name"><br>
    <span class="headingRed" *ngIf="pass && pass.invalid && pass.touched  ">password field is invalid</span><br>
    <input type="text" formControlName="password"  placeholder="enter password">
    <br>
    <button [disabled]="loginForm.invalid">login</button>
</form>




<!-- two way binding -->
<!-- getting and updating the data at a same time using ngModel -->

<!-- <input type="text" name="name" [(ngModel)]="name"> -->

<!-- template driven form -->
<!-- <form action="" method="post" #loginForm="ngForm" (ngSubmit)=getAnyFormData(loginForm.value)>
    <input type="text" name="username" id="" ngModel placeholder="enter name"><br>
    <input type="text" name="password" id="" ngModel placeholder="enter password">
    <br>
    <button>login</button>
</form> -->
<!-- Pipe Line -->
<!-- <h1>{{name | uppercase}}</h1>
<h1>{{name | slice :3:6}}</h1>
<h1>{{235.98989090 | number:'4.4-8' }}</h1>
<h1>{{235.98989090 | currency:"USD" }}</h1>
<h1>{{235.98989090 | currency:"INR" }}</h1> -->
<!-- custom pipe -->
<!-- <h1>{{2 | usdInr:72 }}</h1> -->
<!-- <h1>{{userDetails | json }}</h1> -->




<!-- send data from parent to child -->
<!-- <app-child [parentData]="color"></app-child>
<ul *ngFor="let i of userDetails">
    <li><app-child [userItem]="i"></app-child></li>
</ul> -->

<!-- send data from child to parent -->
<!-- <h1>{{name}}</h1>
<app-child (userDataEvent)="getVal($event)"></app-child> -->





<!-- todo list -->
<!-- <input type="text" value="" placeholder="New Task" #task>
<br>
<br>
<input type="button" value="Add Task" (click)="AddTask(task.value)">


<ul *ngFor="let item of taskList">
    <li>{{item.Task}} <input type="button" value="Remove Task" (click)="RemoveTask(item.id)">  </li>
</ul> -->



<!-- bootstrap -->
<!-- <p>
	<ngb-alert [dismissible]="false">
		<strong>Warning!</strong> Better check yourself, you're not looking too good.
	</ngb-alert>
</p>
<h1 *ngIf="show">I'm toggle</h1>
<button type="submit" (click)="toggle()">Show/Hide</button> -->


<!-- Material UI -->
<!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle> -->


<!-- basic form -->
<!-- <form #basicForm="ngForm"  (ngSubmit)="getFormData(basicForm.value)" action="" method="post">
    <input type="text" ngModel placeholder="Enter name" name="name"><br><br>
    <input type="text" ngModel placeholder="Enter Email" name="email"><br><br>
    <input type="text" ngModel placeholder="Enter phone Number" name="phone"><br><br>
    <button type="submit">Submit</button>
</form>

<ul>
    <li>{{formData.name}}</li>
    <li>{{formData.email}}</li>
</ul> -->






<!-- <button (click)="getData('Kareena')">Click</button>
<input type="text" placeholder="Keyup Event" #boxid (keyup)="getData(boxid.value)"/><br>
<input type="text" placeholder="KeyPress/KeyDown Event" #box1 (keydown)="getData(box1.value)"/><br>
<input type="text" placeholder="Blur Event" #box2 (blur)="getData(box2.value)"/>    <br>
<input type="text" placeholder="Enter name" #box3 (keydown)="getVal(box3.value)"/><br>
<p>TextBox value is: {{name}}</p>
<br> -->


<!-- <input type="text" disabled={{isDisabled}} value="{{val}}" placeholder="interpolation"/><br><br>
<input type="text" [disabled]=isDisabled [value]=val placeholder="property binding"/><br><br>
<button (click)="setEnable()">Enable</button>
<button (click)="setDisable()">Disnable</button> -->

<!-- 
<h1 *ngIf="show==true; then ifblock else elseblock"></h1>

<ng-template #ifblock>
    <h1 class="headingGreen">I'm if block</h1>
</ng-template>
<ng-template #elseblock>
    <h1 class="headingRed">I'm else block</h1>
</ng-template> -->


<!-- <div [ngSwitch]="color">
    <h1 *ngSwitchCase="'red'" style="color:red">I'm Red</h1>
    <h1 *ngSwitchCase="'green'" style="color:green">I'm Green</h1>
    <h1 *ngSwitchCase="'blue'" style="color:blue">I'm Blue</h1>
    <h1 *ngSwitchDefault style="color:black">I'm default</h1>
</div> -->

<!-- 
<h1 *ngFor="let item of users">{{item}}</h1>
<h1 *ngFor="let item of userDetails">{{item.name}}->{{item.email}} ->{{item.mobile}}</h1> -->

<!-- <ul *ngFor="let item of userDetails">
    <li>{{item.name}}</li>
    <li>{{item.email}}</li>
    <li>{{item.mobile}}</li>
    <ul *ngFor="let i of item.social">
        <li >{{i}}</li>
    </ul>
</ul> -->
<app-login></app-login>