
<app-header></app-header>










<!-- <button (click)="getData('Kareena')">Click</button>
<input type="text" placeholder="Keyup Event" #boxid (keyup)="getData(boxid.value)"/><br>
<input type="text" placeholder="KeyPress/KeyDown Event" #box1 (keydown)="getData(box1.value)"/><br>
<input type="text" placeholder="Blur Event" #box2 (blur)="getData(box2.value)"/>    <br>
<input type="text" placeholder="Enter name" #box3 (keydown)="getVal(box3.value)"/><br>
<p>TextBox value is: {{name}}</p>
<br> -->


<!-- <input type="text" disabled={{isDisabled}} value="{{val}}" placeholder="interpolation"/><br><br>
<input type="text" [disabled]=isDisabled [value]=val placeholder="property binding"/><br><br>
<button (click)="setEnable()">Enable</button>
<button (click)="setDisable()">Disnable</button> -->

<!-- 
<h1 *ngIf="show==true; then ifblock else elseblock"></h1>

<ng-template #ifblock>
    <h1 class="headingGreen">I'm if block</h1>
</ng-template>
<ng-template #elseblock>
    <h1 class="headingRed">I'm else block</h1>
</ng-template> -->


<!-- <div [ngSwitch]="color">
    <h1 *ngSwitchCase="'red'" style="color:red">I'm Red</h1>
    <h1 *ngSwitchCase="'green'" style="color:green">I'm Green</h1>
    <h1 *ngSwitchCase="'blue'" style="color:blue">I'm Blue</h1>
    <h1 *ngSwitchDefault style="color:black">I'm default</h1>
</div> -->

<!-- 
<h1 *ngFor="let item of users">{{item}}</h1>
<h1 *ngFor="let item of userDetails">{{item.name}}->{{item.email}} ->{{item.mobile}}</h1> -->

<!-- <ul *ngFor="let item of userDetails">
    <li>{{item.name}}</li>
    <li>{{item.email}}</li>
    <li>{{item.mobile}}</li>
    <ul *ngFor="let i of item.social">
        <li >{{i}}</li>
    </ul>
</ul> -->
<app-login></app-login>